@model SubdKurshach.ViewModel.LoginViewModel
@{
    ViewData["Title"] = "Вход";
}
<section class="py-5 mt-5">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form method="post" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
                    <div class="d-flex flex-row align-items-center justify-content-center">
                        <h3>Вход</h3>
                    </div>
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input asp-for="UserName" type="email" id="form3Example3" class="form-control form-control-lg"
                               placeholder="Введите почту" />
                        <label class="form-label" for="form3Example3">Email</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <input asp-for="Password" type="password" id="form3Example4" class="form-control form-control-lg"
                               placeholder="Введите пароль" />
                        <label class="form-label" for="form3Example4">Пароль</label>
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <!-- Checkbox -->
                        <div class="form-check mb-0">
                            <input asp-for="RememberMe" class="form-check-input me-2" type="checkbox" id="form2Example3" />
                            <label class="form-check-label" for="form2Example3">
                                Запомнить меня
                            </label>
                        </div>
                    </div>
                    <span class="text-danger">@Html.ValidationMessage("LoginError")</span>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                    <span asp-validation-for="Password" class="text-danger"></span>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">
                            Войти
                        </button>
                        <p class="small fw-bold mt-2 pt-1 mb-0">
                            Еще нет аккаунта? <a href="/Account/Register"
                                                      class="link-danger">Зарегестрироваться</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>